<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 打开bean注解支持( 常用注释有 : @Repository(数据库层注解) @Service(服务层注解) @Controller(控制层注解) @Component(通用注解) ) -->
    <context:component-scan base-package="com.accelerator.demo">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean class="com.accelerator.demo.standalone.common.spring.ApplicationContextHolder"/>


    <bean id="ftpClientPoolConfig" class="com.accelerator.demo.standalone.common.ftp.pool.FTPClientPoolConfig">
        <property name="maxWaitMillis" value="6000000"/>
        <property name="maxTotal" value="15"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="10"/>

    </bean>
    <bean id="ftpClientPool" class="com.accelerator.demo.standalone.common.ftp.pool.FTPClientPool">
        <property name="poolConfig" ref="ftpClientPoolConfig"/>
        <property name="controlEncoding" value="UTF-8"/>
        <property name="hostname" value="10.1.30.135"/>
        <property name="username" value="scmftp"/>
        <property name="password" value="scmftp"/>
        <property name="dataTimeout" value="6000000"/>
        <property name="bufferSize" value="1024"/>
        <property name="passiveMode" value="true"/>
    </bean>

</beans>